/* body */
body {
    font-family: Roboto, san-serif;
}
.header {
    background-image: url("images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    color: white;
}
.header img:first-child {
    margin-top: 17rem;
}
.header img:last-child {
    margin-top: 8rem;
}
.header h1 {
    margin-top: 2rem;
    font-weight: 400;
}
.header h2 {
    margin-top: 3rem;
}
.header p {
    font-size: small;
}

/* paragraphs */
p {
    line-height: 2.5rem;
}
p span {
    display: block;
}
/* about us */

.about-us{
    margin-top: 3rem;
    height: 40vh;
}
/* services */
.services {
    background-image: url("images/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    color: white;
}

/* what we do */
.what-we-do {
    height: 60vh;
}
.icons {
    display: flex;
    align-items: center;
}
.what-we-do  div img {
    height: 90px;
    width: 90px;
}
/* portfolio */
.portfolio {
    height: 70vh;
}

.portfolio img {
    width: 300px;
    height: 250px;
    padding: 1rem;
}
/* contacts */

