/* body */
body {
    font-family: Roboto, san-serif;
}
.header {
    background-image: url("images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    color: white;
}
.header img:first-child {
    margin-top: 17rem;
}
.header img:last-child {
    margin-top: 15rem;
}